<!Doctype html>
<html lang="ko">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <script src="/JS/basic.js"></script>

</head>
<body>
<div class="header">Read a Post</div>
<div class="wrapper">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="order">목록</th>
            <th scope="col" class="title" style="text-align: center">제목</th>
            <th scope="col" class="name">작성자</th>
            <th scope="col" class="date">작성 날짜</th>
        </tr>
        </thead>
        <tbody id="container">
        </tbody>
    </table>
</div>
<div id="buttonForm">
    <button><a onclick="location.href='memos_write.html'">글쓰기</a></button>
</div>
<div id="modal" class="popup-container">
</div>

</body>
</html>